@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

div.gallic {
  background: #14171d;
  color: #fff;
}

textarea.gallic,
pre.gallic code {
  font-family: "Fira Code", monospace;
}

textarea.gallic {
  caret-color: #fff;
}
